@import "tailwindcss";
body {
  font-family: "Roboto", sans-serif;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer components {
  .btn {
    @apply py-4 px-11 h-[60px] bg-[#29BDBF] rounded-sm border-none text-white;
  }
  .card {
    @apply py-[50px] ps-[30px] pr-[50px];
  }
}
